// CSS/SCSS here

.hidden {
  display: none;
}
.noGrow {
  flex-grow: 0 !important;
}
.scrollToTopFAB {
  position: fixed !important;
  bottom: 16px;
  right: 16px;
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: #666;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

// //
// html, body {
//   overscroll-behavior: none;
// }

// .hidden {
//   display: none;
// }

// .inline-children > * {
//   display: inline-block;
// }

// .invisible {
//   visibility: hidden;
// }

// .emulated-hide {
//   height: 0px;
//   position: absolute;
//   overflow: hidden;
// }

// .pointer {
//   cursor: pointer;
// }

// .clickable {
//   pointer-events: all;
// }

// .clickthrough {
//   pointer-events: none;
// }

// .no-overflow {
//   overflow: hidden;
// }

// .rounded {
//   border-radius: 25px;
// }

// .abs {
//   position: absolute !important;
// }

// .fixd {
//   position: fixed !important;
// }

// .l {
//   left: 0;
// }

// .r {
//   right: 0;
// }

// .c {
//   left: 0;
//   right: 0;
// }

// .t {
//   top: 0;
// }

// .b {
//   bottom: 0;
// }

// .vc {
//   top: 0;
//   bottom: 0;
// }

// .fill {
//   width: 100%;
//   height: 100%;
// }

// .fw {
//   width: 100%;
// }

// .fh {
//   height: 100%;
// }

// // --------------------------- DEV: ---------------------------
// .dev-opts {
//   position: fixed;
//   right: 0;
//   bottom: 0;
// }
// .dev {
//   outline: 1px solid red;
// }
// .dev-absolute-left {
//   position: absolute;
//   left: 0;
//   top: 0;
// }
// // ------------------- Scrollbars ------------------------
// ::-webkit-scrollbar {
//   width: 4px;
// }

// ::-webkit-scrollbar-track {
//   background-color: #111;
// }

// ::-webkit-scrollbar-thumb {
//   background: #555;
// }
